Repository abdnh/anki-addon-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

check-json:
  name: check-json
  language: system
  entry: uv run check-json

check-yaml:
  name: check-yaml
  language: system
  entry: uv run check-yaml

check-builtin-literals:
  name: check-builtin-literals
  language: system
  entry: uv run check-builtin-literals

check-case-conflict:
  name: check-case-conflict
  language: system
  entry: uv run check-case-conflict

check-docstring-first:
  name: check-docstring-first
  language: system
  entry: uv run check-docstring-first

mypy:
  name: mypy
  entry: python -m mypy
  language: system
  require_serial: true

ruff-check:
  name: ruff
  entry: ruff check --force-exclude --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff
  entry: ruff format --force-exclude
  language: system
  require_serial: true

Update ankiutils for Sentry logging update
  pyproject.toml
  src/errors.py
  src/main.py
  uv.lock
Due: check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

Update package-lock.json
  ts/package-lock.json
Due: check-json

Add Protobuf VSC extension to recommendations
  .vscode.dist/extensions.json
Due: none

Skip TS recipes if no ts folder
  justfile
Due: none

Allow passing args to build script
  justfile
Due: none

Add 'license' field to pyproject.toml
  pyproject.toml
Due: none

Move shared TS code to ankiutils-ts
  ts/package-lock.json
  ts/package.json
  ts/src/lib/backend.ts
  ts/src/lib/bridgecommand.ts
  ts/src/lib/index.ts
  ts/src/lib/theme.svelte.ts
  ts/src/routes/+layout.ts
  ts/src/routes/hello/+page.svelte
Due: check-json

Add an example of ankiutils component usage
  src/backend/services.py
  ts/package-lock.json
  ts/package.json
  ts/src/routes/hello/+page.svelte
Due: check-json, check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

Update ankiutils
  uv.lock
Due: none

Use DaisyUI
  ts/package-lock.json
  ts/package.json
  ts/src/lib/css/base.css
  ts/src/lib/sass/base.scss
  ts/src/routes/+layout.svelte
  ts/src/routes/hello/+page.svelte
  ts/vite.config.ts
  uv.lock
Due: check-json

Point Tailwind to ankiutils package
  ts/src/lib/css/base.css
Due: none

Set Windows shell for just
  justfile
Due: none

Set Protobuf extension as default for proto files
  .vscode.dist/settings.json
  proto/backend.proto
Due: none

Add Proto formatting checks
  .pre-commit-config.yaml
  .vscode.dist/settings.json
  justfile
  ts/package.json
Due: check-json, check-yaml

Defer all tool execution to justfile
  .pre-commit-config.yaml
  justfile
Due: check-yaml

Use project's buf executable
  .vscode.dist/settings.json
  proto/backend.proto
Due: none

Update dprint plugins
  dprint.json
  ts/src/routes/hello/+page.svelte
Due: check-json

Set dprint's includes option
  dprint.json
Due: check-json

Update npm dependencies
  ts/package-lock.json
Due: check-json

Update pre-commit
  uv.lock
Due: none

Fix ts-check pre-commit hook
  .pre-commit-config.yaml
  justfile
Due: check-yaml

Replace pre-commit with prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-yaml

Update error handling
  src/errors.py
  uv.lock
Due: check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

Use QueryOp helpers
  src/errors.py
  uv.lock
Due: check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

Bump urllib3 & werkzeug
  uv.lock
Due: none

Add support channels and Upload Logs uption
  addon.json
  src/errors.py
  src/main.py
  uv.lock
Due: check-json, check-builtin-literals, check-case-conflict, check-docstring-first, mypy, ruff-check, ruff-format

Update actions/checkout
  .github/workflows/ci.yml
  .github/workflows/create_release.yml
Due: check-yaml

Experiment with mdBook generation
  .github/workflows/build_docs.sh
  .github/workflows/create_release.yml
  docs/.gitignore
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/chapter_1.md
Due: check-yaml

Fix build_docs.sh not executable
  .github/workflows/build_docs.sh
Due: none

Fix duplicate mdbook build step
  .github/workflows/create_release.yml
Due: check-yaml

Rename default mdbook chapter
  README.md
  docs/src/SUMMARY.md
  docs/src/chapter_1.md
  docs/src/intro.md
Due: none

Add some setup notes
  README.md
Due: none

Add docs link to AnkiWeb page
  ankiweb_page.html
Due: none

Add a separat workflow for docs
  .github/workflows/build-docs.yml
  .github/workflows/create_release.yml
Due: check-yaml

Add workflow_dispatch
  .github/workflows/build-docs.yml
Due: none

Use reusable workflows
  .github/workflows/build-docs.yml
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/create_release.yml
Due: check-yaml

Fix invalid workflow ref
  .github/workflows/create-release.yml
Due: check-yaml

Remove unused build_docs.sh
  .github/workflows/build_docs.sh
Due: none

Path conditions:
  check-json: any of: \.json$ and not ((.vscode(.dist)?/.*|tsconfig.json)) and not (.venv|vendor|build)
  check-yaml: any of: \.(yaml|yml)$, but not: .venv|vendor|build
  check-builtin-literals: any of: \.py$, but not: .venv|vendor|build
  check-case-conflict: any of: \.py$, but not: .venv|vendor|build
  check-docstring-first: any of: \.py$, but not: .venv|vendor|build
  mypy: any of: \.py$, but not: .venv|vendor|build
  ruff-check: any of: \.py$, but not: .venv|vendor|build
  ruff-format: any of: \.py$, but not: .venv|vendor|build
